/* option custom */
option[value=""] {
    color: grey !important;
}

/* table custom */
.table {
    border: 2px solid #cacaca;
}

.w-5 {
    width: 5%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.table thead {
    border: 2px solid #cacaca !important;
    line-height: 2px;
}

.table thead th, .table td {
    border-top: 0;
    border-bottom: 0;
    border-right: 1px solid #cacaca !important;
    border-left: 1px solid #cacaca !important;
}

.table thead th:last-child, .table td:last-child {
    border-top: 0;
    border-bottom: 0;
    border-right: 2px solid #cacaca !important;
    border-left: 2px solid #cacaca !important;
}

.table tfoot {
    border-top: 2px solid #cacaca !important;
    background-color: #f5f9ff;
}

.table tfoot td {
    border: 0 !important;
}

th[sortable] {
    cursor: pointer;
}

/* checkbox, button */
.checkbox-custom {
    height: 18px;
    width: 18px;
    opacity: 0.8;
}

.btn-delete, .btn-delete-multi {
    cursor: pointer;
}


